header {background-color:black; color:pink; font-family:serif; text-align:center;padding: 0 4px}
body {
font-family:verdana;
background-color:pink
}
nav {text-align:center; padding:5px; font-size:20px;}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
button {
  background-color:white; /*white */
  border:;
  color: black;
  padding: ;
  text-align: ;
  text-decoration: none;
  display: inline-block;
  font-size:;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}